<div class="container-fluid bg-info footer">
  <footer>
    <div class="row pt-2 pb-2">
      <div class="col">
        <span class="text-white">GamePlay - 2020</span>
      </div>
      <div class="col-6"></div>
      <div class="col"></div>
    </div>
  </footer>
</div>