<div class="container-fluid bg-info">
  <header>
    <div class="row">
      <div class="col">
        <h1 class="mt-2">
          <a class="text-white" [routerLink]="['/']">GamePlay</a>
        </h1>
      </div>

      <div class="col-4"></div>

      <div class="col custom-header">
        <div class="row">
          <div class="col-6 input-group custom-header">
            <input #searchParam (keyup.enter)="search(searchParam.value); searchParam.value = ''" type="text"
              class="form-control" aria-label="Search videogame" aria-describedby="inputGroup-sizing-default" />
            <div class="input-group-prepend">
              <button (click)="search(searchParam.value); searchParam.value = ''" class="btn btn-dark rounded-right"
                type="submit">
                Search
              </button>
            </div>
          </div>
          <div class="col custom-header">
            <a [routerLink]="['/cart']">
              <fa-icon class="header-icon" [icon]="icons.shoppingCart"></fa-icon>
            </a>
          </div>
          <div class="col-4">
            <div class="col custom-header">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-dark bg-dark text-white" id="dropdownBasic1" ngbDropdownToggle>
                  Admin
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a ngbDropdownItem [routerLink]="['add-game']">Add new game</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>