a:hover {
  text-decoration: none;
}

input:focus {
  border-color: #353a40;
  box-shadow: 0 0 0 0.2rem rgba(#353a40, 0.5);
}

.header-custom-btn {
  margin-top: 15px;
}

.header-custom-dropdown-menu {
  left: -120px;
}


.custom-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-icon {
  font-size: 24px;
  color: black;
}