<div class="container-fluid custom">
  <div class="card card-detailed pt-3">
    <div class="card-body">
      <h1 class="card-title">Your cart</h1>
      <h4 class="card-subtitle mt-2">Order detail</h4>

      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Game Id</th>
            <th scope="col">Unitary Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of currentOrder.orderDetails">
            <th scope="row">{{ detail.videogame.id }}</th>
            <td>{{ detail.unitaryPrice }}</td>
            <td>{{ detail.Quantity }}</td>
            <td>{{ detail.Subtotal }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="3">Total</th>
            <td>{{ currentOrder.totalAmount }}</td>
          </tr>
        </tfoot>
      </table>

      <div class="card-body">
        <p class="card-text"></p>

        <h4 class="mb-2">Total:</h4>
        <a class="btn btn-primary" (click)="placeOrder(currentOrder)">Buy</a>
      </div>
    </div>
  </div>
</div>