.clickable-link {
  a {
    color: black;
  }

  a.see-more-details {
    color: white;
  }
}


a:hover {
  text-decoration: none;
}

a.btn.btn-outline-primary {
  color: #007bff;

  &:hover {
    color: white;
  }
}