<div class="pt-3 container-fluid">
  <h2>Latest Games of the Year Winners</h2>

  <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-1">
    <div *ngFor="let videogame of videogames">
      <div class="col">
        <div class="clickable-link card m-3">
          <a [routerLink]="['/videogame', videogame.id]">
            <img class="card-img-top" [src]="videogame.imageUrl" [alt]="videogame.name" />
          </a>
          <div class="card-body">
            <a [routerLink]="['/videogame', videogame.id]">
              <h5 class="card-title">
                {{ videogame.name }}
              </h5>

              <p class="card-text">
                {{ videogame.description | slice: 0:100 }}
              </p>
            </a>
            <a [routerLink]="['/videogame', videogame.id]" class="btn btn-primary mt-4 see-more-details">See More
              Details</a>
            <button class="btn btn-outline-primary ml-2 mt-4" (click)="addToCart(videogame.id)">
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>