<div class="container-fluid custom">
  <div class="card card-detailed pt-3">
    <div class="card-body">
      <h1 class="card-title">{{ videogame.name }}</h1>
      <div *ngIf="videogame.developer">
        <h5 class="card-subtitle mb-2 text-muted">
          Developer: {{ videogame.developer }}
        </h5>
      </div>
      <img class="card-img" [src]="videogame.imageUrl" alt="" />
      <div class="card-body">
        <p class="card-text">
          {{ videogame.description }}
        </p>

        <h4 class="mb-2">{{ videogame.price | currency: 'Bs.' }}</h4>

        <button class="btn btn-primary">Buy Now</button>
        <button class="btn btn-outline-primary ml-2" (click)="addToCart(videogame.id)">
          Add To Cart
        </button>

        <button (click)="downloadExcel()" class="btn btn-outline-primary ml-2">
          Descargar Excel
        </button>
      </div>
    </div>
  </div>
</div>