img {
  width: 500px;
}

.custom {
  padding: 20px 0;
}

.card-detailed {
  margin: auto;
  width: 600px;
}

a.btn.btn-primary {
  color: white;
}

a.btn.btn-outline-primary {
  color: #007bff;

  &:hover {
    color: white;
  }
}

