<div class="container">
  <form class="pt-3" [formGroup]="AddNewGameForm" (ngSubmit)="saveNewGame($event)">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputGameName">Name <span class="text-danger text-sm">*</span>
          <span class="text-danger text-sm" *ngIf="
              AddNewGameForm.controls['name'].errors?.required &&
              AddNewGameForm.controls['name'].touched
            ">This field is required</span>
          <span class="text-danger text-sm" *ngIf="AddNewGameForm.controls['name'].errors?.maxlength">This field must
            have less than 100
            characters</span>
        </label>
        <input placeholder="Name" formControlName="name" type="text" class="form-control" id="inputGameName" />
      </div>
      <div class="form-group col-md-6">
        <label for="inputGameDeveloper">Developer
          <span class="text-danger text-sm" *ngIf="AddNewGameForm.controls['developer'].errors?.maxlength">This field
            must have less than 100
            characters</span></label>
        <input placeholder="Developer" formControlName="developer" type="text" class="form-control"
          id="inputGameDeveloper" />
      </div>
    </div>
    <div class="form-group">
      <label for="textAreaGameDescription">Description
        <span class="text-danger text-sm" *ngIf="AddNewGameForm.controls['description'].errors?.maxlength">This field
          must have less than 500
          characters</span></label>
      <textarea placeholder="Description" formControlName="description" type="text" class="form-control"
        id="textAreaGameDescription"></textarea>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputGameImageUrl">Image Url <span class="text-danger text-sm">*</span>
          <span class="text-danger text-sm" *ngIf="
              AddNewGameForm.controls['imageUrl'].errors?.required &&
              AddNewGameForm.controls['imageUrl'].touched
            ">This field is required</span>
          <span class="text-danger text-sm" *ngIf="AddNewGameForm.controls['imageUrl'].errors?.pattern">This field must
            be a valid
            url</span></label>
        <input placeholder="Image URL" formControlName="imageUrl" type="text" class="form-control"
          id="inputGameImageUrl" />
      </div>

      <div class="form-group col-md-4">
        <label for="inputGamePrice">Price <span class="text-danger text-sm">*</span>
          <span class="text-danger text-sm" *ngIf="
              AddNewGameForm.controls['price'].errors?.required &&
              AddNewGameForm.controls['price'].touched
            ">This field is required</span><span class="text-danger text-sm"
            *ngIf="AddNewGameForm.controls['price'].errors?.pattern">This field must be a valid price</span></label>
        <input placeholder="Price" formControlName="price" type="number" class="form-control" id="inputGamePrice" />
      </div>

      <div class="form-group col-md-4">
        <label for="inputGameStock">Stock <span class="text-danger text-sm">*</span>
          <span class="text-danger text-sm" *ngIf="
              AddNewGameForm.controls['stock'].errors?.required &&
              AddNewGameForm.controls['stock'].touched
            ">This field is required</span>
        </label>
        <input type="text" placeholder="Quantity in Stock" formControlName="stock" class="form-control"
          id="inputGameStock" />
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Create New Game</button>
  </form>
</div>