/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}